body {
    text-align: center;
}
#header {
    margin: 10px;
}
#options {
/*     font-weight: bold; */
    font-size: 110%;
}
#status {
    color: black;
    font-weight: bold;
    border: 1px solid green;
    background-color: lightgreen;
    display: none;
    width: 140px;
    margin: 5px auto;
}
#status img {
    margin: 2px;
}